DB_NAME=hyra_ai
BREVO_API_KEY=
BREVO_EMAIL=
DBMS_CONNECTION=jdbc:mysql://localhost:3306/hyra_ai?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DBMS_PASSWORD=root
DBMS_USERNAME=root
JWT_SIGNERKEY=
