DB_NAME=hyra_ai
BREVO_API_KEY=
BREVO_EMAIL=
DBMS_CONNECTION=jdbc:mysql://localhost:3306/hyra_ai?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DBMS_PASSWORD=root
DBMS_USERNAME=root
JWT_SIGNERKEY=

# Cloudflare R2 Config
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_PUBLIC_URL=https://pub-<id>.r2.dev
